#define IDB_SHIP 1
IDB_SHIP BITMAP "res/ship.bmp"
#define IDB_SHIP_MASK 3
IDB_SHIP_MASK BITMAP "res/ship_mask.bmp"

#define IDB_BACKGROUND 2
IDB_BACKGROUND BITMAP "res/background.bmp"

#define IDB_BOMB_MIDDLE 4
IDB_BOMB_MIDDLE BITMAP "res/bomb_middle.bmp"
#define IDB_BOMB_MIDDLE_MASK 5
IDB_BOMB_MIDDLE_MASK BITMAP "res/bomb_middle_mask.bmp"
#define IDB_BOMB_LEFT 10
IDB_BOMB_LEFT BITMAP "res/bomb_left.bmp"
#define IDB_BOMB_LEFT_MASK 11
IDB_BOMB_LEFT_MASK BITMAP "res/bomb_left_mask.bmp"
#define IDB_BOMB_RIGHT 12
IDB_BOMB_RIGHT BITMAP "res/bomb_right.bmp"
#define IDB_BOMB_RIGHT_MASK 13
IDB_BOMB_RIGHT_MASK BITMAP "res/bomb_right_mask.bmp"

#define IDB_SUB1_LEFT 6
IDB_SUB1_LEFT BITMAP "res/sub1_left.bmp"
#define IDB_SUB1_LEFT_MASK 7
IDB_SUB1_LEFT_MASK BITMAP "res/sub1_left_mask.bmp"
#define IDB_SUB1_RIGHT 8
IDB_SUB1_RIGHT BITMAP "res/sub1_right.bmp"
#define IDB_SUB1_RIGHT_MASK 9
IDB_SUB1_RIGHT_MASK BITMAP "res/sub1_right_mask.bmp"

#define IDB_SUB2_LEFT 14
IDB_SUB2_LEFT BITMAP "res/sub2_left.bmp"
#define IDB_SUB2_LEFT_MASK 15
IDB_SUB2_LEFT_MASK BITMAP "res/sub2_left_mask.bmp"
#define IDB_SUB2_RIGHT 16
IDB_SUB2_RIGHT BITMAP "res/sub2_right.bmp"
#define IDB_SUB2_RIGHT_MASK 17
IDB_SUB2_RIGHT_MASK BITMAP "res/sub2_right_mask.bmp"

#define IDB_SUB3_LEFT 18
IDB_SUB3_LEFT BITMAP "res/sub3_left.bmp"
#define IDB_SUB3_LEFT_MASK 19
IDB_SUB3_LEFT_MASK BITMAP "res/sub3_left_mask.bmp"
#define IDB_SUB3_RIGHT 20
IDB_SUB3_RIGHT BITMAP "res/sub3_right.bmp"
#define IDB_SUB3_RIGHT_MASK 21
IDB_SUB3_RIGHT_MASK BITMAP "res/sub3_right_mask.bmp"

#define IDB_TORPEDO 22
IDB_TORPEDO BITMAP "res/torpedo.bmp"
#define IDB_TORPEDO_MASK 23
IDB_TORPEDO_MASK BITMAP "res/torpedo_mask.bmp"

#define IDB_BOOM1 56
IDB_BOOM1 BITMAP "res/boom1.bmp"
#define IDB_BOOM1_MASK 57
IDB_BOOM1_MASK BITMAP "res/boom1_mask.bmp"
#define IDB_BOOM2 58
IDB_BOOM2 BITMAP "res/boom2.bmp"
#define IDB_BOOM2_MASK 59
IDB_BOOM2_MASK BITMAP "res/boom2_mask.bmp"
#define IDB_BOOM3 60
IDB_BOOM3 BITMAP "res/boom3.bmp"
#define IDB_BOOM3_MASK 61
IDB_BOOM3_MASK BITMAP "res/boom3_mask.bmp"
#define IDB_BOOM4 62
IDB_BOOM4 BITMAP "res/boom4.bmp"
#define IDB_BOOM4_MASK 63
IDB_BOOM4_MASK BITMAP "res/boom4_mask.bmp"
#define IDB_BOOM5 64
IDB_BOOM5 BITMAP "res/boom5.bmp"
#define IDB_BOOM5_MASK 65
IDB_BOOM5_MASK BITMAP "res/boom5_mask.bmp"
#define IDB_BOOM6 66
IDB_BOOM6 BITMAP "res/boom6.bmp"
#define IDB_BOOM6_MASK 67
IDB_BOOM6_MASK BITMAP "res/boom6_mask.bmp"
#define IDB_BOOM7 68
IDB_BOOM7 BITMAP "res/boom7.bmp"
#define IDB_BOOM7_MASK 69
IDB_BOOM7_MASK BITMAP "res/boom7_mask.bmp"
#define IDB_BOOM8 70
IDB_BOOM8 BITMAP "res/boom8.bmp"
#define IDB_BOOM8_MASK 71
IDB_BOOM8_MASK BITMAP "res/boom8_mask.bmp"
#define IDB_BOOM9 72
IDB_BOOM9 BITMAP "res/boom9.bmp"
#define IDB_BOOM9_MASK 73
IDB_BOOM9_MASK BITMAP "res/boom9_mask.bmp"
#define IDB_BOOM10 74
IDB_BOOM10 BITMAP "res/boom10.bmp"
#define IDB_BOOM10_MASK 75
IDB_BOOM10_MASK BITMAP "res/boom10_mask.bmp"
#define IDB_BOOM11 76
IDB_BOOM11 BITMAP "res/boom11.bmp"
#define IDB_BOOM11_MASK 77
IDB_BOOM11_MASK BITMAP "res/boom11_mask.bmp"
#define IDB_BOOM12 99
IDB_BOOM12 BITMAP "res/boom12.bmp"
#define IDB_BOOM12_MASK 78
IDB_BOOM12_MASK BITMAP "res/boom12_mask.bmp"
#define IDB_BOOM13 79
IDB_BOOM13 BITMAP "res/boom13.bmp"
#define IDB_BOOM13_MASK 80
IDB_BOOM13_MASK BITMAP "res/boom13_mask.bmp"
#define IDB_BOOM14 81
IDB_BOOM14 BITMAP "res/boom14.bmp"
#define IDB_BOOM14_MASK 82
IDB_BOOM14_MASK BITMAP "res/boom14_mask.bmp"
#define IDB_BOOM15 83
IDB_BOOM15 BITMAP "res/boom15.bmp"
#define IDB_BOOM15_MASK 84
IDB_BOOM15_MASK BITMAP "res/boom15_mask.bmp"
#define IDB_BOOM16 85
IDB_BOOM16 BITMAP "res/boom16.bmp"
#define IDB_BOOM16_MASK 86
IDB_BOOM16_MASK BITMAP "res/boom16_mask.bmp"
#define IDB_BOOM17 87
IDB_BOOM17 BITMAP "res/boom17.bmp"
#define IDB_BOOM17_MASK 88
IDB_BOOM17_MASK BITMAP "res/boom17_mask.bmp"
#define IDB_BOOM18 89
IDB_BOOM18 BITMAP "res/boom18.bmp"
#define IDB_BOOM18_MASK 90
IDB_BOOM18_MASK BITMAP "res/boom18_mask.bmp"
#define IDB_BOOM19 91
IDB_BOOM19 BITMAP "res/boom19.bmp"
#define IDB_BOOM19_MASK 92
IDB_BOOM19_MASK BITMAP "res/boom19_mask.bmp"
#define IDB_BOOM20 93
IDB_BOOM20 BITMAP "res/boom20.bmp"
#define IDB_BOOM20_MASK 94
IDB_BOOM20_MASK BITMAP "res/boom20_mask.bmp"
#define IDB_BOOM21 95
IDB_BOOM21 BITMAP "res/boom21.bmp"
#define IDB_BOOM21_MASK 96
IDB_BOOM21_MASK BITMAP "res/boom21_mask.bmp"
#define IDB_BOOM22 97
IDB_BOOM22 BITMAP "res/boom22.bmp"
#define IDB_BOOM22_MASK 98
IDB_BOOM22_MASK BITMAP "res/boom22_mask.bmp"